*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  font-size: 16px;
  font-family: "Gotham";
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style: none;
}
ul li a {
  display: flex;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/GothamPro.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/GothamPro-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/GothamPro-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/GothamPro-Black.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}


[data-anchor="page-1"] {
  width: 100%;
  height: 100vh;
  background-image: url(./img/bgh.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  background-color: rgb(244, 110, 190);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scroll-box1 {
  height: 100vh;
}

.st-title {
  font-weight: 900;
  color: rgb(32, 47, 114);
  font-size: 80px;
  line-height: 88px;
  text-align: center;
  margin-bottom: 20px;
}

.st-subtitle {
  font-size: 35px;
  color: rgb(32, 47, 114);
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}


.marque__inner {
  white-space: nowrap;
  display: inline-block;
  font-size: 20px;
}

@media screen and (max-width: 720px) {
  .st-title {
    font-size: 16vw;
  }

  .st-subtitle {
    font-size: 5vw;
  }
}

[data-anchor="page-2"] {
  padding: 30px 0;
  background: rgb(29,42,102);
  background: url("./img/pepewleft.gif") no-repeat left bottom,
  url("./img/pepewrite.gif") no-repeat right bottom, linear-gradient(90deg, rgba(29,42,102,1) 0%, rgba(29,42,102,1) 100%);
  color: #96f0b6;
}

.wr-title {
  font-size: 70px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 50px;
}

.wr-text {
  font-size: 35px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  margin-bottom: 80px;
}

.wr-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.wr-box-small:first-child {
  margin-bottom: 40px;
}

.wr-box-small {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 30px;
  width: 100%;
}

.wr-box__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 25px;
  width: 100%;
}

.wr-box__title {
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
  width: 100%;
}

.wr-box__text {
  margin-bottom: 3px;
  text-align: center;
}

.wr-box__image {
  width: 30px;
  border-radius: 50%;
}

.wr-box__text:nth-child(2) .wr-box__image {
 width: 50px;
 border-radius: 50%;
}

.d-b {
  display: block;
}

.wr-box__right {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 width: 100%;
 padding-top: 50px;
}

.wr-box__right .wr-box__text:nth-child(2) {
  transform: translateY(-40px) scale(1.1);
  color: #e9142a;
}

.wr-box__right .wr-box__text {
  width: 100%;
  max-width: 380px;
}

[data-anchor="page-3"] {
  background-color: #ffccd1;
  color: #ec1e32;
  padding: 30px 0;
  overflow: hidden;
}

.smile-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.img-kekv-box {
  width: 100px;
  height: 100px;
  margin: auto;
}

.kekv {
  width: 100px;
  height: 100px;
  animation: opacityBox 0.9s ease;
  transform: scale(0);
}

.smile-line {
  height: 100px;
  margin: auto 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.d-n {
  display: none !important;
}

@keyframes opacityBox {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.page3box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.em-text {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

.em-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.em-smallbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  align-items: flex-start;
  justify-content: center;
}

.em-smallbox .wr-box__text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 23px;
}

.em-smallbox .wr-box__text .wr-box__image {
  margin-right: 10px;
}

.em-smallbox .wr-box__text b {
  margin-left: 5px;
  margin-right: 5px;
}

.em-smallbox .wr-box__text .wr-box__image:nth-child(2) {
  margin-right: 10px;
  width: 30px;
}

[data-anchor="page-4"] {
  background-color: #8d1832;
  color: #ffc965;
  padding: 20px 0;
}


.porcha {
  color: #016450;
  position: relative;
}

.rel {
  position: relative;
  z-index: 1323;
}

.porcha:after {
  content: "";
  background: url("./img/NicePng_tentacles-png_912466.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 70px;
  height: 85px;
  top: 0;
  z-index: 122;
  transform: translate(-31px, -35px);
}

[data-anchor="page-5"] {
  padding: 30px 0;
  background: rgb(250,250,250);
  background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(115,143,190,1) 100%);
  color: #181415;
}

[alt="ping"] {
  height: 80px;
  margin: 0 10px;
}

[data-anchor="page-5"] .wr-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-anchor="page-6"] {
  padding: 30px 0;
  background: #a0bf8e;
  color: #483c5c;
  overflow: hidden;
  position: relative;
}

.hide-block {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(17px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 2999;
}

.hide-text {
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hide-buttons {
  width: 100%;
  max-width: 460px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:  40px;
}

.hide-b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 100%;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.hide-no-ok {
  background-color: red;
  color: black;
}

.hide-ok {
  background-color: blue;
  color: white;
}


.a18block {
  padding: 30px 0;
  position: relative;
  z-index: 23;
}

.disc-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 15px;
}

.linkToDiscord {
  background: #414675;
  color: #dee0fc;
  padding: 8px;
  border-radius: 5px;
}

.no-mar {
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
}

[data-anchor="page-7"] {
  padding: 30px 0;
  background: #203264;
  color: #fafeff;
  position: relative;
}

[data-anchor="page-7"] .no-mar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.happy {
  color: red;
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 20px;
}

.afterword {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  width: 100%;
  transform: translateY(-10px);
}

.cookies {
  text-decoration: underline !important; 
  color: white;
  display: block;
  margin-top: 5px;
}