
//fonts

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;500;800&display=swap');
$fira: 'Fira Sans Condensed', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,300&display=swap');
$raleway: 'Raleway', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,400;1,700&display=swap');
$mw: 'Merriweather', serif;
//colors

$blue: #104a8e;
$cobalt: #1338be; // 4 timetable
$purple: #c377e0; // 4 timetable
$taffy: #fa86c4; // 4 timetable
$white: white;
$main: #191919;
$submain: #252525;