.of-cakes {
	padding: 150px 0;
	background: url("../img/tastyCake.png") no-repeat;
	background-size: contain;
	background-position-x: right;

	&__block {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__title {
		color: #d8bb90;
		font-family: $storytella;
		font-size: 230px;
		text-align: left;
		width: 100%;
		max-width: 490px;
		text-transform: capitalize;
	}

	&__stamp {
		@include padding-hack(200px);
		width: 200px;
		position: absolute;
		right: 650px;
		transform: translateY(-250px);
	}
}