.of-products {
	width: 100%;
	background: transparent;
	font-size: 30px;
	font-family: $raleway;
	text-transform: uppercase;
	color: white;

	.wrapper {
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}

	.left-side {
		width: 100%;
		max-width: 380px;
		height: 680px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		padding: 30px;
		background: url("../img/img1.jpg") no-repeat;
		background-size: cover;
	}


	.right-side {
		width: 100%;
		max-width: 1020px;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 680px;

		.top-side {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50%;
			width: 100%;

			&__left {
				width: 60%;
				padding: 30px;
				background: url("../img/img2.jpg") no-repeat;
				background-size: cover;
				display: flex;
				justify-content: flex-start;
				align-items: flex-end;
				height: 100%;

			}

			&__right {
				width: 40%;
				padding: 30px;
				background: url("../img/img3.jpg") no-repeat;
				background-size: cover;
				display: flex;
				justify-content: flex-start;
				align-items: flex-end;
				height: 100%;
			}
		}

		.bottom-side {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50%;
			width: 100%;


			&__left {
				width: 40%;
				display: flex;
				justify-content: center;
				align-items: center;
				background: transparent;
				height: 100%;
				color: $yellow;
			}

			&__right {
				width: 60%;
				padding: 30px;
				background: url("../img/img4.jpg") no-repeat;
				background-size: cover;
				display: flex;
				justify-content: flex-start;
				align-items: flex-end;
				height: 100%;
			}
		}
	}
}

.black {
	display: block;
	width: 100%;
	font-weight: 900;
}