.re-about {
  padding: 70px 0;

  &__text {
    font-size: 18px;
    font-family: $mont;
    color: #222222;
    margin-bottom: 20px;
  }

  &__list {
    padding-left: 30px;
    margin-bottom: 30px;

    &-item {
      margin-bottom: 10px;
      position: relative;
      color: #222222;
      font-size: 18px;
      font-family: $mont;
      font-weight: 400;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: "—";
        font-size: 18px;
        position: absolute;
        top: 0;
        transform: translateX(-25px);
      }
    }
    &-link {
      font-weight: 700;

      .notBold {
        font-weight: 400;
        margin-left: 5px;
        display: none;

        @include md-screen {
          display: inline-block;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @include lg-screen {
      justify-content: space-between;
    }
  }

  &__button {
    border: 1px solid #fdc530;
    width: 220px;
    min-height: 250px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    margin-bottom: 10px;

    &:last-child {
      display: flex;
      @media only screen and (min-width: 915px) and (max-width: 1140px) {
        display: none;
      }
    }

    @include sm-screen {
      margin-bottom: 0px;
    }

    &-text {
      letter-spacing: 1.92px;
      text-align: center;
      font-size: 16px;
      font-family: $mont;
      font-weight: 700;
    }
  }

  &__img {
    margin-bottom: 30px;
  }
}

.itsButton {
  display: block;
  margin: 0 auto;
}