*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  $base-size: 16px;
  font-size: $base-size;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style: none;

  li {
    a {
      display: flex;
    }
  }
}

a:link, /* unvisited link */
a:visited, /* visited link */
a:hover, /* mouse over link */
a:active {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.re-title {
  display: block;
  width: 100%;
  text-align: center;
  color: $grey;
  font-family: $mont;
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 15px;

  @include md-screen {
    font-size: 2.395vw;
    margin-bottom: 6vh;
  }
}

main {
  background: #f8f8f8;
}

.ttu {
  text-transform: uppercase;
}