.re-header {
  width: 100%;
  height: auto;
  background: url("../img/bgheader.jpg") no-repeat 0 0;
  background-blend-mode: multiply;
  background-size: cover;
  background-color: #222222;

  &__thankYou {
    color: #f8f8f8;
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: $mont;
  }

  &__back {
    color: #f0f0f0;
    font-family: $mont;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
  }

  &__contacts {
    height: 70px;
    width: 100%;
    background-color: #222222;
    color: #f0f0f0;

    .container {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      padding: 0 0 0 15px;

      @include sm-screen {
        padding: 0 15px;
        justify-content: flex-end;
      }
    }
  }

  &__phoneLink {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 3vw;
    font-family: $mont;
    font-weight: 700;
    margin-right: 20px;
    @include sm-screen {
      font-size: 20px;
    }

    .fa-phone-alt {
      color: #ffb606;
    }
  }

  &__callButton {
    height: 100%;
    background-color: #ffb606;
    padding: 0 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #222222;
    outline: none;
    border: none;
    font-family: $mont;
    cursor: pointer;

    @include sm-screen {
      padding: 0 25px;
      font-size: 18px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @include md-screen {
      justify-content: space-between;
    }
  }

  &__logo {
    font-size: 30px;
    text-decoration: none;
    font-family: $tinos;
    color: #f0f0f0;
    position: relative;


    @include md-screen {
      margin-bottom: 0;
      color: #222222;
      padding: 10px 20px;
      padding-bottom: 40px;
      background-color: #f0f0f0;
      clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
      border-radius: 5px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    & > span {
      display: inline-block;

      @include md-screen {
        display: block;
      }

      &:last-child {
        margin: 0;
        @include md-screen {
          margin-left: 20px;
        }
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    max-width: 500px;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 100;
    transition: all .3s ease;

    &-item {
      background: #222222;
      width: 100%;
      padding: 15px 0 15px 15px;

      @include md-screen {
        background: none;
        padding: 0;
        width: auto;
      }
    }

    @include md-screen {
      display: flex;
      position: inherit;
      flex-direction: row;
    }

    @include lg-screen {
      max-width: 700px;
    }
  }

  &__link {
    color: #f0f0f0;
    position: relative;
    font-size: 20px;
    font-family: $mont;
    font-weight: 400;
    transition: all .3s ease;

    &::after {
      @include md-screen {
        content: "";
      }
      content: none;
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -3px;
      left: 0;
      background-color: #ffb606;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s;
    }

    &:hover {
      transform: translateY(-3px);

      &:after {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }
  }

  &__block {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__titles {
    width: 100%;
    max-width: 700px;
  }

  &__buttons {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 300px;

    @include lg-screen {
      display: flex;
    }

    @media only screen and (max-height: 720px) {
      display: none;
    }
  }

  &__buttonLink {
    padding: 0 10px;
    font-size: 22px;
    background: #ffb606;
    color: #222222;
    font-family: $mont;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    transition: all .3s ease;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      transform: translateY(-5px);
      border: 2px solid #f0f0f0;
    }
  }

  &__title {
    font-size: 7vw;
    font-weight: 900;
    font-family: $mont;
    color: #f0f0f0;
    margin-bottom: 30px;
    text-align: center;

    @include sm-screen {
      font-size: 42px;
      text-align: left;
    }

    @media only screen and (max-height: 590px) and (min-width: 576px)  {
      font-size: 30px;
    }
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #f0f0f0;
    font-family: $mont;
    margin-bottom: 10px;
    text-align: center;

    @include sm-screen {
      font-size: 24px;
      margin-bottom: 40px;
      text-align: left;
    }

    .fa-map-marker-alt {
      color: #ffb606;
      margin-right: 10px;

      @include sm-screen {
        margin-right: 20px;
      }
    }
  }

  &__time {
    font-size: 14px;
    font-family: $mont;
    color: #f0f0f0;
    margin-bottom: 50px;
    text-align: center;

    @include sm-screen {
      text-align: left;
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  &__clickButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include sm-screen {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__cost {
    font-size: 24px;
    color: #222222;
    background-color: #ffb606;
    padding: 12px 33px;
    font-family: $mont;
    font-weight: 700;
    outline: none;
    border: none;
    transition: all .3s ease;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0 0 25px 0px rgba(253, 197, 48, .3);

    &:hover {
      box-shadow: 0 0 35px 0px rgba(253, 197, 48, .6);
    }

    @include sm-screen {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  &__discont {
    font-size: 15px;
    font-family: $mont;
    color: #f0f0f0;

    @include sm-screen {
      font-size: 21px;
    }
  }

  &__hamb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #f0f0f0;
    position: relative;
    z-index: 400;

    .fa-bars, .fa-times {
      font-size: 25px;
    }

    @include md-screen {
      display: none;
    }
  }
}

.invisible {
display: none;

  @include md-screen{
    display: flex;
  }
}

.invisible li {
  height: 0;
  padding: 0;
}

.anotherPageHeader {
  @include md-screen {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    padding-bottom: 10px;
    border-radius: 0;
  }
}

.anotherPageNav {
  margin-bottom: 0;
}