.re-order {
  padding: 30px 0;
  background-size: cover;
  background: #222222 url("../img/bgheader.jpg") no-repeat 0 0;
  background-blend-mode: multiply;

  .ttu {
    color: #f0f0f0;
  }

  .itsButton {
    width: 100%;
    max-width: 500px;
  }
}