.re-partners {
  padding: 40px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-item {
      width: 25vw;
      @include padding-hack(250px, contain);
    }
  }
}