.re-works {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &-item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
  }

  &__gallery {
    width: 100%;
    max-width: 500px;
    height: 370px;
    margin-right: 100px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-size: 30px;
    color: #222222;
    font-family: $mont;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__subt {
    font-size: 20px;
    color: #222222;
    font-family: $mont;
    text-transform: uppercase;
    padding-left: 30px;
  }
}

.slick-slide {
  @include padding-hack(370px);
}